---
// Initialization for ES Users
// import {
//   Collapse,
//   initTE,
// } from "tw-elements";

// initTE({ Collapse });

import { Icon } from "astro-icon";

const faq = [
  {
    question: "How much does hiring you for a design project cost?",
    answer: `At Clay, we understand the importance of flexibility in budget and support for our partners. We offer a blended rate for our services and work with our clients to determine what level of support we can provide based on their budgetary constraints.

      We offer three engagement models: time & materials, fixed fee, and retainer. Following a series of discovery conversations and project briefings, our team will recommend the most suitable model for your needs. We will then create a customized proposal, including a timeline and estimated cost.

      We aim to deliver the best possible solutions to our partners, tailored to their specific requirements. Whether it entails a comprehensive range of services or a customized approach that aligns with their financial constraints, we strive to meet their unique needs.
    `,
    id: "1",
  },
  {
    question: "azdazda qsqd qsd sqdzda",
    answer: "atheqsdqsd qsdna",
    id: "3",
  },
  {
    question: "azdazda qsqd qsd sqdzda",
    answer: "atheqsdqsd qsdna",
    id: "4",
  },
  {
    question: "azdazda qsqd qsd sqdzda",
    answer: "atheqsdqsd qsdna",
    id: "5",
  },
  {
    question: "azdazda qsqd qsd sqdzda",
    answer: "atheqsdqsd qsdna",
    id: "6",
  },
];
---

<div class='py-12 md:py-24'></div>

<div class='block md:flex md:flex-wrap container mx-auto max-w-screen-2xl px-6'>
  <div class='px-0 md:px-4 lg:w-2/3 -mt-5 order-1 md:order-last'>
    <div class='h-full flex items-start'>
      <div class='flex-grow'>
        <h1
          class='font-semibold text-left text-4xl md:text-9xl leading-tight max-w-2xl md:pb-6 pb-4 mt-2'
        >
          FAQ
        </h1>
        <div id='accordionFAQ'>
          {
            faq.map((item, index) => (
              <div
                key={index}
                class='rounded-none border border-l-0 border-r-0 border-t-0 border-neutral-300 dark:border-neutral-600 dark:bg-neutral-800 py-4'
              >
                <h2 class='mb-0' id='flush-headingTwo'>
                  <button
                    class='group relative flex w-full items-center rounded-none border-0 border-b-0 px-0   py-4 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]: [&:not([data-te-collapse-collapsed])]:text-black [&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(229,231,235)] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-800 dark:[&:not([data-te-collapse-collapsed])]:text-black-400 dark:[&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(75,85,99)]'
                    type='button'
                    data-te-collapse-init
                    data-te-collapse-collapsed
                    data-te-target={`#flush-${item.id}`}
                    aria-expanded='false'
                    aria-controls={`flush-${item.id}`}
                  >
                    <h1 class='title-font text-2xl md:text-3xl font-medium text-black'>
                      {item.question}
                    </h1>
                    <span class='-mr-0 ml-auto h-7 w-7 md:h-10 md:w-10 shrink-0 rotate-[-180deg] fill-[#fefefe] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white'>
                      <Icon name='mdi:chevron-down' />
                    </span>
                  </button>
                </h2>
                <div
                  id={`flush-${item.id}`}
                  class='!visible hidden border-0'
                  data-te-collapse-item
                  aria-labelledby='flush-headingTwo'
                  data-te-parent='#accordionFAQ'
                >
                  <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed px-0   py-4 whitespace-pre-line'>
                    {item.answer}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <div class='lg:w-1/3 order-2 md:order-first max-h-full flex items-start'>
    <div class='flex-grow h-full'>
      <div
        class='w-full md:w-96 p-8 md:p-12 border border-gray-200 animate-fade-in rounded-3xl bg-white shadow-md shadow-gray-900/5 mt-10 md:mt-0 sticky top-40'
        id='wasup'
      >
        <div class='md:block'>
          <img
            class='w-16 h-16 md:w-20 md:h-20 rounded-full mb-5 mr-5 my-auto md:my-0'
            src='https://flowbite.com/docs/images/people/profile-picture-3.jpg'
            alt='Bonnie image'
          />

          <p
            class='md:py-4 -0 font-medium text-xl text-gray-700 md:mt-5 min-h-32 leading-relaxed'
          >
            Voici Julia, Head Manager chez Arlibera. N'hésitez pas à lui envoyer
            un message pour plus de réponses.
          </p>
        </div>

        <a
          href='#'
          class='inline-flex justify-center items-center mt-10 md:mt-5 py-5 md:py-3 px-5 text-lg md:text-xl font-semibold text-center text-white rounded-full bg-gray-900 w-full'
        >
          Poser une Question
          <img src='public/whatsapp.svg' class='h-6 w-6 ml-5' />
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  // Initialization for ES Users
  import { Collapse, initTE } from "tw-elements";

  initTE({ Collapse });
</script>
