---
import Testimonial from "./Testimonial.astro";

const testimonials = [
  {
    img: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    name: "azdxxazda",
    role: "xxxxxxxxxx",
    text: "xxxxxxxxxxxxxxxxxxxxxxxx azdabbbbbbbbbbbbbbb  bbbbbbbbbbbzda",
    alt: "avatar of zemium",
  },
  {
    img: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    name: "azdazda",
    role: "xxxxxxxxxx",
    text: "azdabbbbbbbbbbbbbbb  bbbbbbbbbbbzda",
    alt: "avatar of zemium",
  },
  {
    img: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    name: "azdazda",
    role: "xxxxxxxxxx",
    text: "azdabbbbbbbbbbbbbbb  bbbbbbbbbbbzda",
    alt: "avatar of zemium",
  },
];
---

<style>
  .marquee-testimonial {
    /*   overflow: hidden; */
  }

  .marquee-content {
    display: block;
    animation: scrollingY 50s linear infinite;
  }
  .marquee-content-2 {
    display: block;
    animation: scrollingY 40s linear infinite;
  }
  @keyframes scrollingY {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translatey(-144vw);
    }
  }
</style>

<section class=''>
  <div class='py-32 mx-10'>
    <div class='flex place-content-center'>
      <img
        class='max-h-28 self-center'
        style='    --transform-scale-x: -1;-webkit-transform: scaleX(-1);
transform: scaleX(-1); opacity:0.1'
        src='https://framerusercontent.com/images/iRhDo8XBod5PzPuhCHZbXQG9VeU.svg'
      />

      <h1
        class='mb-4 text-4xl md:text-5xl font-semibold tracking-loose leading-tight text-gray-900 max-w-4xl text-center self-center mx-10'
      >
        Approuvé par <br />plusieurs Professionnels
      </h1>

      <img
        style='opacity:0.1'
        class='max-h-28 self-center'
        src='https://framerusercontent.com/images/iRhDo8XBod5PzPuhCHZbXQG9VeU.svg'
      />
    </div>
    <p
      class='font-normal w-96 text-center self-center text-lg leading-relaxed mx-auto mt-5'
    >
      La satisfaction du client est notre priorité absolue. Nous sommes
      reconnaissants pour tous les partenaires qui nous ont fait confiance.
    </p>
  </div>
</section>
<div>
  <section
    class='pb-24 h-[49rem] max-h-[150vh] overflow-hidden max-w-screen-xl mx-auto px-5'
  >
    <div class='relative bg-gradient-to-b from-[#efefef] h-40 z-20'></div>
    <div class='flex grid-cols-3 gap-10 z-10'>
      <div class='marquee-testimonial' id='originalContainer'>
        <div class='marquee-content'>
          <div class='space-y-10'>
            {
              testimonials.map((item, index) => (
                <div key={index} class='flex-none'>
                  <Testimonial
                    name={item.name}
                    role={item.role}
                    text={item.text}
                    img={item.img}
                    alt={item.alt}
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class='marquee-testimonial' id='originalContainer'>
        <div class='marquee-content-2'>
          <div class=''>
            {
              testimonials.map((item, index) => (
                <div key={index} class='flex-none mb-10'>
                  <Testimonial
                    name={item.name}
                    role={item.role}
                    text={item.text}
                    img={item.img}
                    alt={item.alt}
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class='marquee-testimonial' id='originalContainer'>
        <div class='marquee-content'>
          <div class=''>
            {
              testimonials.map((item, index) => (
                <div key={index} class='flex-none  '>
                  <Testimonial
                    name={item.name}
                    role={item.role}
                    text={item.text}
                    img={item.img}
                    alt={item.alt}
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <div
      class='relative bottom-0 bg-gradient-to-t from-[#efefef] h-40 z-20 max-w-screen-xl mx-auto px-5 -mt-40'
    >
    </div>
  </section>
</div>

<script>
  $(document).ready(function () {
    // Get the container element
    const originalContainer = $("#originalContainer");

    // Clone the child elements and append the clones
    const originalChildren = originalContainer.children();
    const cloneCount = 2; // Change this to the number of times you want to repeat the elements

    for (let i = 0; i < cloneCount; i++) {
      originalChildren.clone(true).appendTo(originalContainer);
    }
  });
</script>
