---
import Test from "./Test.jsx";

const testimonials = [
  {
    img: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    name: "azdxxazda",
    role: "xxxxxxxxxx",
    text: "The client has learned to trust Halo Lab, thanks to their significant knowledge in UI/UX design. The vendor has provided valuable feedback by always being readily available for communication. Moreover, they have a satisfying project management process that makes their process smooth and efficient.",
    alt: "avatar of zemium",
  },
  {
    img: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    name: "azdazda",
    role: "xxxxxxxxxx",
    text: "The client is proud of Halo Lab's work, which their customers have praised. They lead a communicative process to enable the team to reach out to them at any time. The client also praises their designs and suggestions, which help improve their services.",
    alt: "avatar of zemium",
  },
  {
    img: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    name: "azdazda",
    role: "xxxxxxxxxx",
    text: "Their skills were awesome — they took what I said and made it real. The designs ended up helping the internal stakeholders raise funds. The specialists maintained excellent project management skills throughout the process.",
    alt: "avatar of zemium",
  },
];
---

<style>
  .marquee-testimonial {
    /*   overflow: hidden; */
  }

  .marquee-content {
    display: block;
    animation: scrollingY 50s linear infinite;
  }
  .marquee-content-2 {
    display: block;
    animation: scrollingY 40s linear infinite;
  }
  @keyframes scrollingY {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translatey(-144vw);
    }
  }
</style>

<div class='py-12 md:py-24'></div>
<section class='pb-14 md:pb-20'>
  <div class='px-10'>
    <div class='flex place-content-center'>
      <img
        class='md:h-24 h-16 self-center'
        style='    --transform-scale-x: -1;-webkit-transform: scaleX(-1);
transform: scaleX(-1); opacity:0.1'
        src='https://framerusercontent.com/images/iRhDo8XBod5PzPuhCHZbXQG9VeU.svg'
      />

      <h1
        class='text-3xl md:text-6xl font-semibold tracking-loose leading-tight text-gray-900 max-w-4xl text-center self-center mx-5 md:mx-10'
      >
        Approuvé par <br class='hidden md:block' />plusieurs Professionnels
      </h1>

      <img
        style='opacity:0.1'
        class='md:h-24 h-16 self-center'
        src='https://framerusercontent.com/images/iRhDo8XBod5PzPuhCHZbXQG9VeU.svg'
      />
    </div>
    <p
      class='font-normal text-center self-center text-lg leading-relaxed mx-auto mt-5'
    >
      La satisfaction de nos clients est notre priorité absolue
      <!--  Nous sommes
      reconnaissants pour tous les partenaires qui nous ont fait confiance. -->
    </p>
  </div>
</section>

<div class=''><Test client:load /></div>

<div class='max-w-screen-xl mx-auto'>
  <!-- {
    testimonials.map((item, index) => (
      <div key={index} class='flex-none'>
        <Testimonial
          name={item.name}
          role={item.role}
          text={item.text}
          img={item.img}
          alt={item.alt}
        />
      </div>
    ))
  } -->
</div>
